* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}

h1, h2, h3, p{
    line-height: 1;
}

/*Hero Style*/
.hero {
    background-color: #1F2937;
    margin: -20px -50px;
    padding: 20px 160px 50px 160px;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    gap:18px;
    list-style-type: none;
    padding: 0 160px 60px 160px;
    color:#F9FAF8;
}

nav ul a {
    color: inherit;
    text-decoration: none;
}                            

.logo {
    margin-right: auto;
    font-weight: 600;
    font-size:24px;
    color:#F9FAF8;
}

.content {
    margin: 20px 160px;     
    display: flex;
} 

.text {
    flex-shrink: 1;
    margin-right:30px;
}

.image {
    background-color: #6d747d;
    min-width: 480px;
    height:250px;
    text-align: center;
    padding-top: 100px;
    color:#E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0 0 -15px 0;
}

.text p {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    padding: 8px 32px;
    color:#E5E7EB;
    font-weight: 600;
    margin-bottom: 10px;
}

/*Info section styling*/
.info-section{
    padding-bottom: 80px;
}

h2 {
    text-align: center;
    font-size:36px;
    color: #1F2937;
    font-weight: bolder;
    margin-top: 60px;
}

.info-section ul {
    display: flex;
    gap: 60px;
    justify-content: center;
    list-style-type: none;
}

.info-section div {
    width: 150px;
    height: 150px;
    border-style:solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius: 10px;
}

.info-section > :last-child {
    margin: 0 325px;
    text-align: center;
}

/*quote section styling*/
.quote {
    margin: 0 -50px;
    padding: 100px 325px;
    background-color: #E5E7EB;
    color: #1F2937;
}

blockquote {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
}

.quote > p {
    font-weight: 900;
    font-size: 26px;
    text-align: right;
    margin-right: 65px;
}


/*call action section styling*/
.call-action > div {
    background-color:#3882F6;
    margin: 75px 250px;
    min-width: 800px; 
    padding: 50px 0;
    border-radius: 5px;
    color:#F9FAF8;
    display: flex;
    justify-content: space-evenly;
}

.call-action > div > div > p {
    margin: -15px 0 0 0;
}
.call-action > div > button {
    border-style: solid;
    border-color: #F9FAF8;
    height: 35px;
    align-self: center;
    margin: 10px 0 0 0;
}

/*footer styling*/
footer > p {
    color: #F9FAF8;
    background-color: #1F2937;
    margin: 0 -50px;
    padding: 40px 0;
    text-align: center;
}